

.container {
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 30px;
}

.logo-and-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width:0.8px;
}

#gators {
    color: #D3691C;
}

#speak {
    color: #0085FF;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white; 
    text-decoration:none; 
    cursor:pointer;  
}