
html {
    background-color: #1D3557;
    height: 100vh;
}

body {
    font-family: 'Comic Neue';
    height: 100vh;
}

p {
    color: white;
}

#app-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
   
}

#root {
 
}